.card-container {
  padding: 2rem 0;
  max-width: 30rem;
  min-height: 20rem;
  margin: 0 auto;

  position: relative;
}

.image {
  min-height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
  background-color: rgba(241, 241, 241, 0.5);
}

.avatar {
  background-color: rgba(241, 241, 241, 0.5);
  border: 1px solid rgb(225, 225, 225);
}

mat-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

mat-card-content {
  margin-top: 1rem;
}

mat-card-actions {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
