.photo-create-container {
  max-width: 30rem;
  margin: 2rem auto;
  padding: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #ededed;
}


.button-container {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

mat-form-field {
  display: block;
  margin-bottom: 1rem;
}

