.card-container {
  padding: 2rem 0;
  max-width: 40rem;
  min-height: 20rem;
  margin: 0 auto;

  position: relative;
}

.card {
}

.image {
  min-height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

mat-card-header {
  //display: flex;
  //align-items: center;
}

mat-card-content {
  margin-top: 1rem;
}
