.card-container {
  padding: 2rem 0;
  max-width: 30rem;
  min-height: 15rem;
  margin: 0 auto;

  position: relative;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
}

mat-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


mat-card-content {
  margin-top: 1rem;
}

mat-card-actions {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
